fastapi[standard]>=0.111.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
alembic>=1.13.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.9
psycopg2-binary>=2.9.9
email-validator>=2.1.0
cloudinary>=1.41.0
sqladmin>=0.16.0
itsdangerous==2.1.2
pillow>=10.0.0
